l10n_nl_xaf_auditfile_export/data/auditfile_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Jan Vrijenhoek (ABZ Nederland BV) -->
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             XML Auditfile Financieel 3.1                                -->
<!-- Transaction:         AA - Auditfile                                              -->
<!-- Datamodel:           XML Auditfile, version 1.0                                  -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     Standard XML                                                -->
<!-- Generated at:        10-12-2009 11:44:13                                         -->
<!-- Generated using:     EC-Design 1.4.3b (http://www.ec-design.nl)                  -->
<!-- Generated by:        Jan Vrijenhoek                                              -->
<!-- Organisation:        Branche Initiatieven b.v. (Abz)                             -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://www.auditfiles.nl/XAF/3.1" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:str="http://www.ec-design.nl/Abz/BCPP/1.0/structures" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.auditfiles.nl/XAF/3.1" xmlns:xaf="http://www.auditfiles.nl/XAF/3.1">
	<xsd:element name="auditfile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="fiscalYear">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="9"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="startDate" type="xsd:date"/>
							<xsd:element name="endDate" type="xsd:date"/>
							<xsd:element name="currencyCode" type="currencyCodeType"/>
							<xsd:element name="dateCreated" type="xsd:date"/>
							<xsd:element name="productID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="50"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="productVersion" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="companyName" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="taxRegistration" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="companyAddress" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="companyCity" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="companyPostalCode" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="customersSuppliers" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="customerSupplier" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="custSupID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="companyName" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="50"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="contact" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="50"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="telephone" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="fax" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="eMail" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="255"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="website" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="255"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="commerceNr" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="taxRegistrationCountry" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:length value="2"/>
																<xsd:pattern value="\D*"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="taxRegIdent" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="relationshipID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="custSupTp" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:length value="1"/>
																<xsd:enumeration value="B"/>
																<xsd:enumeration value="C"/>
																<xsd:enumeration value="O"/>
																<xsd:enumeration value="S"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="custSupGrpID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="streetAddress" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="streetname" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="number" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="numberExtension" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="property" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="city" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="postalCode" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="region" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="country" type="countryCodeType" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="postalAddress" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="streetname" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="number" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="numberExtension" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="property" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="city" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="postalCode" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="region" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="country" type="countryCodeType" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="bankAccount" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="bankAccNr">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="bankIdCd" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
				<xsd:element name="generalLedger" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="taxonomy" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="300"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										  <xsd:element name="ledgerAccount" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="accountID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="accountDesc">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="accountType">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="2"/>
																<xsd:enumeration value="B"/>
																<xsd:enumeration value="M"/>
																<xsd:enumeration value="P"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="leadCode">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="2"/>
																<xsd:enumeration value="B"/>
																<xsd:enumeration value="M"/>
																<xsd:enumeration value="P"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="basics" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="basic" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="basicType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="2"/>
																			<xsd:enumeration value="02"/>
																			<xsd:enumeration value="03"/>
																			<xsd:enumeration value="04"/>
																			<xsd:enumeration value="05"/>
																			<xsd:enumeration value="12"/>
																			<xsd:enumeration value="14"/>
																			<xsd:enumeration value="23"/>
																			<xsd:enumeration value="29"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="basicDesc">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
				<xsd:element name="vatCodes" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="vatCode" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="vatID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="vatDesc">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="vatToPayAccID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="vatToClaimAccID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
				<xsd:element name="periods" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="period" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="period">
														<xsd:simpleType>
															<xsd:restriction base="xsd:nonNegativeInteger">
																<xsd:totalDigits value="3"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="periodDesc" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="50"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="startDatePeriod" type="xsd:date"/>
													<xsd:element name="startTimePeriod" type="xsd:time" minOccurs="0"/>
													<xsd:element name="endDatePeriod" type="xsd:date"/>
													<xsd:element name="endTimePeriod" type="xsd:time" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
				<xsd:element name="openingBalance" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="opBalDate" type="xsd:date"/>
										<xsd:element name="opBalDesc" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="999"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="numberEntries">
											<xsd:simpleType>
												<xsd:restriction base="xsd:nonNegativeInteger">
													<xsd:totalDigits value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="totalDebit">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="20"/>
													<xsd:fractionDigits value="2"/>
													<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="totalCredit">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="20"/>
													<xsd:fractionDigits value="2"/>
													<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="obLine" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="transactionID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="accID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="amnt">
														<xsd:simpleType>
															<xsd:restriction base="xsd:decimal">
																<xsd:totalDigits value="20"/>
																<xsd:fractionDigits value="2"/>
																<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="amntTp">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:length value="1"/>
																<xsd:pattern value="\D*"/>
																<xsd:enumeration value="C"/>
																<xsd:enumeration value="D"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="obSubledgers" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="obSubledger" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="sbType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="2"/>
																			<xsd:enumeration value="CS"/>
																			<xsd:enumeration value="CU"/>
																			<xsd:enumeration value="SU"/>
																			<xsd:enumeration value="ZZ"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="sbDesc" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="numberEntries">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:nonNegativeInteger">
																			<xsd:totalDigits value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="totalDebit">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="totalCredit">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="obSbLine" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="transactionID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="obLineNr">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="description" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="9999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="amnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="amntTp">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:length value="1"/>
																						<xsd:pattern value="\D*"/>
																						<xsd:enumeration value="C"/>
																						<xsd:enumeration value="D"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="docRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="recRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="custSupID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invPurSalTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="1"/>
																						<xsd:enumeration value="P"/>
																						<xsd:enumeration value="S"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:length value="1"/>
																						<xsd:pattern value="\D*"/>
																						<xsd:enumeration value="C"/>
																						<xsd:enumeration value="D"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invDt" type="xsd:date" minOccurs="0"/>
																			<xsd:element name="invDueDt" type="xsd:date" minOccurs="0"/>
																			<xsd:element name="mutTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="1"/>
																						<xsd:enumeration value="I"/>
																						<xsd:enumeration value="P"/>
																						<xsd:enumeration value="Z"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="costID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="prodID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="projID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="artGrpID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntityID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntity" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:nonNegativeInteger">
																						<xsd:totalDigits value="10"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
				<xsd:element name="transactions" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="numberEntries">
											<xsd:simpleType>
												<xsd:restriction base="xsd:nonNegativeInteger">
													<xsd:totalDigits value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="totalDebit">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="20"/>
													<xsd:fractionDigits value="2"/>
													<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="totalCredit">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="20"/>
													<xsd:fractionDigits value="2"/>
													<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="journal" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="journalID">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="description">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="9999"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="jrnTp" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="2"/>
																<xsd:enumeration value="B"/>
																<xsd:enumeration value="C"/>
																<xsd:enumeration value="G"/>
																<xsd:enumeration value="M"/>
																<xsd:enumeration value="O"/>
																<xsd:enumeration value="P"/>
																<xsd:enumeration value="S"/>
																<xsd:enumeration value="T"/>
																<xsd:enumeration value="Y"/>
																<xsd:enumeration value="Z"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="offsetAccID" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="bankAccNr" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="35"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="transaction" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="transactionID">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="description" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="50"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="period">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:nonNegativeInteger">
																			<xsd:totalDigits value="3"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="transactionDate" type="xsd:date"/>
																<xsd:element name="amnt" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="amntTp" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:length value="1"/>
																			<xsd:pattern value="\D*"/>
																			<xsd:enumeration value="C"/>
																			<xsd:enumeration value="D"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="sourceID" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="35"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="line" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="recordID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="accountID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="docRef">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="description" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="debitAmount">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="creditAmount">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="custSupID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="costID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="prodID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="projID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="artGrpID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntityID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntity" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:nonNegativeInteger">
																						<xsd:totalDigits value="10"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="vat" minOccurs="0" maxOccurs="99">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="vatCode" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatPercentage">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="8"/>
																									<xsd:fractionDigits value="3"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,5}[.][0-9]{3}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																									<xsd:fractionDigits value="2"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="currency" minOccurs="0">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="currencyCode" type="currencyCodeType"/>
																						<xsd:element name="currencyDebitAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="currencyCreditAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>																						
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="subledgers" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="subledger" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="sbType">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="2"/>
																			<xsd:enumeration value="CS"/>
																			<xsd:enumeration value="CU"/>
																			<xsd:enumeration value="SU"/>
																			<xsd:enumeration value="ZZ"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="sbDesc" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="9999"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="numberEntries">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:nonNegativeInteger">
																			<xsd:totalDigits value="10"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="totalDebit">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="totalCredit">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:decimal">
																			<xsd:totalDigits value="20"/>
																			<xsd:fractionDigits value="2"/>
																			<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="sbLine" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="transactionID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="journalID">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="trNr">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="trLineNr">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="description" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="9999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="amnt">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:decimal">
																						<xsd:totalDigits value="20"/>
																						<xsd:fractionDigits value="2"/>
																						<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="amntTp">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:length value="1"/>
																						<xsd:pattern value="\D*"/>
																						<xsd:enumeration value="C"/>
																						<xsd:enumeration value="D"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="docRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="recRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="custSupID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invRef" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="999"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invPurSalTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="1"/>
																						<xsd:enumeration value="P"/>
																						<xsd:enumeration value="S"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:length value="1"/>
																						<xsd:pattern value="\D*"/>
																						<xsd:enumeration value="C"/>
																						<xsd:enumeration value="D"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="invDt" type="xsd:date" minOccurs="0"/>
																			<xsd:element name="invDueDt" type="xsd:date" minOccurs="0"/>
																			<xsd:element name="mutTp" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="1"/>
																						<xsd:enumeration value="I"/>
																						<xsd:enumeration value="P"/>
																						<xsd:enumeration value="Z"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="costID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="prodID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="projID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="artGrpID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntityID" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="35"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="qntity" minOccurs="0">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:nonNegativeInteger">
																						<xsd:totalDigits value="10"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="vat" minOccurs="0" maxOccurs="99">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="vatCode" minOccurs="0">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:string">
																									<xsd:maxLength value="15"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatPercentage">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="8"/>
																									<xsd:fractionDigits value="3"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,5}[.][0-9]{3}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="vatAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																									<xsd:fractionDigits value="2"/>
																									<xsd:pattern value="[\-+]?[0-9]{1,18}[.][0-9]{2}"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="currency" minOccurs="0">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="currencyCode" type="currencyCodeType"/>
																						<xsd:element name="currencyDebitAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																						<xsd:element name="currencyCreditAmount">
																							<xsd:simpleType>
																								<xsd:restriction base="xsd:decimal">
																									<xsd:totalDigits value="20"/>
																								</xsd:restriction>
																							</xsd:simpleType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="accountIDKey">
			<xsd:selector xpath="./xaf:generalLedger/xaf:ledgerAccount"/>
			<xsd:field xpath="xaf:accountID"/>
		</xsd:key>
		<xsd:keyref name="ctVatToPayAccIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaf:vatCodes/xaf:vatCode"/>
			<xsd:field xpath="xaf:vatToPayAccID"/>
		</xsd:keyref>
		<xsd:keyref name="ctVatToClaimAccIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaf:vatCodes/xaf:vatCode"/>
			<xsd:field xpath="xaf:vatToClaimAccID"/>
		</xsd:keyref>
		<xsd:keyref name="ctObLineAccIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaf:openingBalance/xaf:obLine"/>
			<xsd:field xpath="xaf:accountID"/>
		</xsd:keyref>
		<xsd:keyref name="ctTrLineAccIDRef" refer="accountIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:journal/xaf:transaction/xaf:line"/>
			<xsd:field xpath="xaf:accountID"/>
		</xsd:keyref>
		<xsd:key name="customerSupplierIDKey">
			<xsd:selector xpath="./xaf:customersSuppliers/xaf:customerSupplier"/>
			<xsd:field xpath="xaf:custSupID"/>
		</xsd:key>
		<xsd:keyref name="ctObSbLineCustSupIDRef" refer="customerSupplierIDKey">
			<xsd:selector xpath="./xaf:openingBalance/xaf:obSubledgers/xaf:obSubledger/xaf:obSbLine"/>
			<xsd:field xpath="xaf:custSupID"/>
		</xsd:keyref>
		<xsd:keyref name="ctTrLineCustSupIDRef" refer="customerSupplierIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:journal/xaf:transaction/xaf:line"/>
			<xsd:field xpath="xaf:custSupID"/>
		</xsd:keyref>
		<xsd:keyref name="ctTrSbLineCustSupIDRef" refer="customerSupplierIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:subledgers/xaf:subledger/xaf:sbLine"/>
			<xsd:field xpath="xaf:custSupID"/>
		</xsd:keyref>
		<xsd:key name="vatIDKey">
			<xsd:selector xpath="./xaf:vatCodes/xaf:vatCode"/>
			<xsd:field xpath="xaf:vatID"/>
		</xsd:key>
		<xsd:keyref name="ctTrLineVatIDRef" refer="vatIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:journal/xaf:transaction/xaf:line/xaf:vat"/>
			<xsd:field xpath="xaf:vatID"/>
		</xsd:keyref>
		<xsd:keyref name="ctSbLineVatIDRef" refer="vatIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:subledgers/xaf:subledger/xaf:sbLine/xaf:vat"/>
			<xsd:field xpath="xaf:vatID"/>
		</xsd:keyref>
		<xsd:key name="basicIDKey">
			<xsd:selector xpath="./xaf:generalLedger/xaf:basics/xaf:basic"/>
			<xsd:field xpath="xaf:basicID"/>
		</xsd:key>
		<xsd:key name="jrnIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:journal"/>
			<xsd:field xpath="xaf:journalID"/>
		</xsd:key>
		<xsd:keyref name="ctSbLineJrnIDRef" refer="jrnIDKey">
			<xsd:selector xpath="./xaf:transactions/xaf:subledgers/xaf:subledger/xaf:sbLine"/>
			<xsd:field xpath="xaf:journalID"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:simpleType name="currencyCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="\D*"/>
			<xsd:enumeration value="AED"/>
			<xsd:enumeration value="AFA"/>
			<xsd:enumeration value="ALL"/>
			<xsd:enumeration value="AMD"/>
			<xsd:enumeration value="ANG"/>
			<xsd:enumeration value="AOA"/>
			<xsd:enumeration value="ARS"/>
			<xsd:enumeration value="AUD"/>
			<xsd:enumeration value="AWG"/>
			<xsd:enumeration value="AZM"/>
			<xsd:enumeration value="BAM"/>
			<xsd:enumeration value="BBD"/>
			<xsd:enumeration value="BDT"/>
			<xsd:enumeration value="BGN"/>
			<xsd:enumeration value="BHD"/>
			<xsd:enumeration value="BIF"/>
			<xsd:enumeration value="BMD"/>
			<xsd:enumeration value="BND"/>
			<xsd:enumeration value="BOB"/>
			<xsd:enumeration value="BRL"/>
			<xsd:enumeration value="BSD"/>
			<xsd:enumeration value="BTN"/>
			<xsd:enumeration value="BWP"/>
			<xsd:enumeration value="BYR"/>
			<xsd:enumeration value="BZD"/>
			<xsd:enumeration value="CAD"/>
			<xsd:enumeration value="CDF"/>
			<xsd:enumeration value="CHF"/>
			<xsd:enumeration value="CLP"/>
			<xsd:enumeration value="CNY"/>
			<xsd:enumeration value="COP"/>
			<xsd:enumeration value="CRC"/>
			<xsd:enumeration value="CSD"/>
			<xsd:enumeration value="CUP"/>
			<xsd:enumeration value="CVE"/>
			<xsd:enumeration value="CYP"/>
			<xsd:enumeration value="CZK"/>
			<xsd:enumeration value="DJF"/>
			<xsd:enumeration value="DKK"/>
			<xsd:enumeration value="DOP"/>
			<xsd:enumeration value="DZD"/>
			<xsd:enumeration value="EEK"/>
			<xsd:enumeration value="EGP"/>
			<xsd:enumeration value="ERN"/>
			<xsd:enumeration value="ETB"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="FJD"/>
			<xsd:enumeration value="FKP"/>
			<xsd:enumeration value="GBP"/>
			<xsd:enumeration value="GEL"/>
			<xsd:enumeration value="GGP"/>
			<xsd:enumeration value="GHC"/>
			<xsd:enumeration value="GIP"/>
			<xsd:enumeration value="GMD"/>
			<xsd:enumeration value="GNF"/>
			<xsd:enumeration value="GTQ"/>
			<xsd:enumeration value="GYD"/>
			<xsd:enumeration value="HKD"/>
			<xsd:enumeration value="HNL"/>
			<xsd:enumeration value="HRK"/>
			<xsd:enumeration value="HTG"/>
			<xsd:enumeration value="HUF"/>
			<xsd:enumeration value="IDR"/>
			<xsd:enumeration value="ILS"/>
			<xsd:enumeration value="IMP"/>
			<xsd:enumeration value="INR"/>
			<xsd:enumeration value="IQD"/>
			<xsd:enumeration value="IRR"/>
			<xsd:enumeration value="ISK"/>
			<xsd:enumeration value="JEP"/>
			<xsd:enumeration value="JMD"/>
			<xsd:enumeration value="JOD"/>
			<xsd:enumeration value="JPY"/>
			<xsd:enumeration value="KES"/>
			<xsd:enumeration value="KGS"/>
			<xsd:enumeration value="KHR"/>
			<xsd:enumeration value="KMF"/>
			<xsd:enumeration value="KPW"/>
			<xsd:enumeration value="KRW"/>
			<xsd:enumeration value="KWD"/>
			<xsd:enumeration value="KYD"/>
			<xsd:enumeration value="KZT"/>
			<xsd:enumeration value="LAK"/>
			<xsd:enumeration value="LBP"/>
			<xsd:enumeration value="LKR"/>
			<xsd:enumeration value="LRD"/>
			<xsd:enumeration value="LSL"/>
			<xsd:enumeration value="LTL"/>
			<xsd:enumeration value="LVL"/>
			<xsd:enumeration value="LYD"/>
			<xsd:enumeration value="MAD"/>
			<xsd:enumeration value="MDL"/>
			<xsd:enumeration value="MGA"/>
			<xsd:enumeration value="MKD"/>
			<xsd:enumeration value="MMK"/>
			<xsd:enumeration value="MNT"/>
			<xsd:enumeration value="MOP"/>
			<xsd:enumeration value="MRO"/>
			<xsd:enumeration value="MTL"/>
			<xsd:enumeration value="MUR"/>
			<xsd:enumeration value="MVR"/>
			<xsd:enumeration value="MWK"/>
			<xsd:enumeration value="MXN"/>
			<xsd:enumeration value="MYR"/>
			<xsd:enumeration value="MZM"/>
			<xsd:enumeration value="NAD"/>
			<xsd:enumeration value="NGN"/>
			<xsd:enumeration value="NIO"/>
			<xsd:enumeration value="NOK"/>
			<xsd:enumeration value="NPR"/>
			<xsd:enumeration value="NZD"/>
			<xsd:enumeration value="OMR"/>
			<xsd:enumeration value="PAB"/>
			<xsd:enumeration value="PEN"/>
			<xsd:enumeration value="PGK"/>
			<xsd:enumeration value="PHP"/>
			<xsd:enumeration value="PKR"/>
			<xsd:enumeration value="PLN"/>
			<xsd:enumeration value="PYG"/>
			<xsd:enumeration value="QAR"/>
			<xsd:enumeration value="ROL"/>
			<xsd:enumeration value="RUR"/>
			<xsd:enumeration value="RWF"/>
			<xsd:enumeration value="SAR"/>
			<xsd:enumeration value="SBD"/>
			<xsd:enumeration value="SCR"/>
			<xsd:enumeration value="SDD"/>
			<xsd:enumeration value="SEK"/>
			<xsd:enumeration value="SGD"/>
			<xsd:enumeration value="SHP"/>
			<xsd:enumeration value="SIT"/>
			<xsd:enumeration value="SKK"/>
			<xsd:enumeration value="SLL"/>
			<xsd:enumeration value="SOS"/>
			<xsd:enumeration value="SPL"/>
			<xsd:enumeration value="SRD"/>
			<xsd:enumeration value="STD"/>
			<xsd:enumeration value="SVC"/>
			<xsd:enumeration value="SYP"/>
			<xsd:enumeration value="SZL"/>
			<xsd:enumeration value="THB"/>
			<xsd:enumeration value="TJS"/>
			<xsd:enumeration value="TMM"/>
			<xsd:enumeration value="TND"/>
			<xsd:enumeration value="TOP"/>
			<xsd:enumeration value="TRL"/>
			<xsd:enumeration value="TTD"/>
			<xsd:enumeration value="TVD"/>
			<xsd:enumeration value="TWD"/>
			<xsd:enumeration value="TZS"/>
			<xsd:enumeration value="UAH"/>
			<xsd:enumeration value="UGX"/>
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="UYU"/>
			<xsd:enumeration value="UZS"/>
			<xsd:enumeration value="VEB"/>
			<xsd:enumeration value="VND"/>
			<xsd:enumeration value="VUV"/>
			<xsd:enumeration value="WST"/>
			<xsd:enumeration value="XAF"/>
			<xsd:enumeration value="XCD"/>
			<xsd:enumeration value="XOF"/>
			<xsd:enumeration value="XPF"/>
			<xsd:enumeration value="YER"/>
			<xsd:enumeration value="ZAR"/>
			<xsd:enumeration value="ZMK"/>
			<xsd:enumeration value="ZWD"/>
			<xsd:enumeration value="ZZZ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="countryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\D*"/>
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AQ"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="AU"/>
			<xsd:enumeration value="AW"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BF"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BI"/>
			<xsd:enumeration value="BJ"/>
			<xsd:enumeration value="BM"/>
			<xsd:enumeration value="BN"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="BS"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BV"/>
			<xsd:enumeration value="BW"/>
			<xsd:enumeration value="BY"/>
			<xsd:enumeration value="BZ"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="CD"/>
			<xsd:enumeration value="CF"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CI"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CL"/>
			<xsd:enumeration value="CM"/>
			<xsd:enumeration value="CN"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="CX"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="DM"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="DZ"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EE"/>
			<xsd:enumeration value="EG"/>
			<xsd:enumeration value="EH"/>
			<xsd:enumeration value="ER"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="ET"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FJ"/>
			<xsd:enumeration value="FK"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="FO"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="GE"/>
			<xsd:enumeration value="GF"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GI"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GN"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GQ"/>
			<xsd:enumeration value="GR"/>
			<xsd:enumeration value="GS"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="HN"/>
			<xsd:enumeration value="HR"/>
			<xsd:enumeration value="HT"/>
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IO"/>
			<xsd:enumeration value="IQ"/>
			<xsd:enumeration value="IR"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="JP"/>
			<xsd:enumeration value="KE"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="KH"/>
			<xsd:enumeration value="KI"/>
			<xsd:enumeration value="KM"/>
			<xsd:enumeration value="KN"/>
			<xsd:enumeration value="KP"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KW"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LB"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LK"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="LV"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="ML"/>
			<xsd:enumeration value="MM"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MQ"/>
			<xsd:enumeration value="MR"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MU"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="MW"/>
			<xsd:enumeration value="MX"/>
			<xsd:enumeration value="MY"/>
			<xsd:enumeration value="MZ"/>
			<xsd:enumeration value="NA"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NZ"/>
			<xsd:enumeration value="OM"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PH"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PY"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="RE"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="RW"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SH"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SJ"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SM"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="SY"/>
			<xsd:enumeration value="SZ"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="TF"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TJ"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TO"/>
			<xsd:enumeration value="TR"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TZ"/>
			<xsd:enumeration value="UA"/>
			<xsd:enumeration value="UG"/>
			<xsd:enumeration value="UK"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="UY"/>
			<xsd:enumeration value="UZ"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VC"/>
			<xsd:enumeration value="VE"/>
			<xsd:enumeration value="VG"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VN"/>
			<xsd:enumeration value="VU"/>
			<xsd:enumeration value="WF"/>
			<xsd:enumeration value="WS"/>
			<xsd:enumeration value="YE"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="ZA"/>
			<xsd:enumeration value="ZM"/>
			<xsd:enumeration value="ZW"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>